/* Importações */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

/* Configurações globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Figtree", sans-serif;
  text-decoration: none;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section {
  width: 100vw;
}

.centralizado {
  padding: 20px;
}

/* Cabeçalho */
header {
  width: 100vw;
  height: 7vh;
  background-color: #e9d8bfea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.281);
  overflow-x: hidden;
  text-decoration: none;
}

header div {
  position: relative;
  display: flex;
  width: 7vh;
  height: 7vh;
}

header div.centralizado:hover {
  transform: scale(1.05);
}

header div.centralizado {
  padding: 12px;
  transition: transform 0.3s ease;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

nav ul li {
  padding: 0 12.5px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 23px;
  display: block;
}

header#menu-mobile {
  display: none;
}

header#menu-pc nav ul li {
  transition: transform 0.3s ease;
}

header#menu-pc nav ul li:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 700px) {
  header#menu-pc {
    display: none;
  }

  header#menu-mobile {
    display: block;
  }
}

#mobile-nav {
  background-color: rgba(233, 216, 191, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.281);
  z-index: 1000;
  display: none;
}

#mobile-nav ul {
  flex-direction: column;
  padding: 10px 0;
}

#mobile-nav ul li {
  padding: 10px 0;
  text-align: center;
}

#mobile-nav ul li a {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

/* Corpo */

body {
  background-color: #e4ceaf;
}

.section1 {
  padding: 20px;
}

.section1 h1 {
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 20px;
}

.section1 p {
  text-align: left;
  font-size: 30px;
  margin-bottom: 10px;
}

.section1 ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 20px 0;
}

.section1 ul li {
  font-size: 18px;
  margin: 5px 0;
  padding-left: 20px;
  text-align: left;
}

/* Rodapé */
footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content h1 {
  margin: 10px 0;
  font-size: 30px;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}

.contact-button {
  width: 256px;
  color: #fff;
  background-color: black;
  font-size: 15px;
  padding: 8px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 20px auto;
  border: 4px solid whitesmoke;
  border-radius: 20px;
}

.contact-button:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.social-icon {
  display: inline-block;
  margin: 10px;
}

.social-icon i {
  font-size: 30px;
  color: white;
  margin: 0 30px;
}

.social-icon i:hover {
  animation: grow 0.3s forwards;
  color: #ffcc00;
}
