/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Configurações globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Figtree", sans-serif;
  text-decoration: none;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section {
  width: 100vw;
}

.centralizado {
  padding: 20px;
}

/* Cabeçalho */
header {
  width: 100vw;
  height: 7vh;
  background-color: #e9d8bfea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.281);
  overflow-x: hidden;
  text-decoration: none;
}

header div {
  position: relative;
  display: flex;
  width: 7vh;
  height: 7vh;
}

header div.centralizado:hover {
  transform: scale(1.05);
}

header div.centralizado {
  padding: 12px;
  transition: transform 0.3s ease;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

nav ul li {
  padding: 0 12.5px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 23px;
  display: block;
}

header#menu-mobile {
  display: none;
}

header#menu-pc nav ul li {
  transition: transform 0.3s ease;
}

header#menu-pc nav ul li:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 700px) {
  header#menu-pc {
    display: none;
  }

  header#menu-mobile {
    display: block;
  }
}

#mobile-nav {
  background-color: rgba(233, 216, 191, 0.9); /* Cor de fundo com opacidade */
  position: fixed; /* Fixa o menu na tela */
  top: 0; /* Alinha o menu ao topo da página */
  left: 0;
  right: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.281);
  z-index: 1000; /* Garante que o menu fique acima de outros elementos */
  display: none; /* Inicialmente oculto */
}

#mobile-nav ul {
  flex-direction: column; /* Alinha os itens em coluna */
  padding: 10px 0; /* Espaçamento interno */
}

#mobile-nav ul li {
  padding: 10px 0; /* Espaçamento entre os itens */
  text-align: center; /* Centraliza o texto */
}

#mobile-nav ul li a {
  font-size: 20px; /* Tamanho da fonte */
  color: rgb(0, 0, 0); /* Cor do texto */
}

body {
  background-color: #E4CEAF;
}

/* Estilos do Cardápio */
.section1 {
  padding: 20px;
}

.section1 h1 {
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 20px;
}

.section1 p {
  text-align: left;
  font-size: 30px;
  margin-bottom: 10px;
}

.section1 ul {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  padding: 0;
  margin: 20px 0;
}

.section1 ul li {
  font-size: 18px;
  margin: 5px 0; /* Espaçamento entre os itens */
  padding-left: 20px; /* Espaçamento extra à esquerda */
  text-align: left; /* Alinha o texto à esquerda */
}

/* Rodapé */
footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content h1 {
  margin: 10px 0;
  font-size: 30px;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}

.contact-button {
  width: 256px;
  color: #fff;
  background-color: black;
  font-size: 15px;
  padding: 8px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 20px auto; /* Centraliza o botão */
  border: 4px solid whitesmoke;
  border-radius: 20px;
}

.contact-button:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}

.social-icon {
  display: inline-block;
  margin: 10px;
}

.social-icon i {
  font-size: 30px;
  color: white;
  margin: 0 30px;
  transition: color 0.3s ease;
}

.social-icon i:hover {
  color: #E4CEAF;
}