/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');

/* Fontes */
.kotta-one-regular {
  font-family: "Kotta One", serif;
  font-weight: 400;
  font-style: normal;
}

/* Configurações globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Kotta One", serif;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centralizado {
  padding: 20px;
}

/* Cabeçalho */
header {
  width: 100%;
  height: 7vh;
  background-color: #e9d8bfea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.281);
}

header div {
  position: relative;
  display: flex;
  width: 7vh;
  height: 7vh;
}

header div.centralizado:hover {
  padding: 11px;
}

header div.centralizado {
  padding: 12px;
  transition: padding 0.76s ease;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

nav ul li {
  margin: 0 12.5px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 23px;
  display: block;
  transition: font-size 0.5s ease;
}

nav ul li a:hover {
  font-size: 24px;
}

/* Corpo */
body {
  background-color: #E4CEAF;
}

/* ---------------------------------------------------- */

#img {
  width: 183.1vh;
  height: auto;
  filter: brightness(0.3); 
  object-fit: cover;
}

#img2 {
  width: 50%;
  height: 600px;
  filter: brightness(0.4);
  margin-top: 200px;
  margin-right: 40px;
  margin-left: 20px;
  object-fit: cover;
}

#img3 {
  width: 300px;
  height: 400px;
  object-fit: cover;
  filter: brightness(0.4);
  float: right;
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 20px;}

  #img4 {

  width: 100%;
  height: 400px;
  filter: brightness(0.4); 
  background-attachment: fixed;
  object-fit: cover;
  position: relative;}

  #img5 {
    width: 400px;
    height: 600px;
    filter: brightness(0.4);
    margin-top: 200px;
    margin-right: 200px;
    margin-left: 20px;
    margin-bottom: 200px;
    object-fit: cover;}  

.titulo1 {
  position: absolute;
  top: 40%;
  font-size: 200px;
  font-weight: 400;
  z-index: 999;
  color: #E4CEAF;
  text-shadow: black;
}

p {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.espaco {
  display: flex; 
  align-items: center; 
  gap: 200px;
}

.espaco p{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-right: 80px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.bloco{
  display: flex;
  text-align: center;
  width:100% ;
  height: 500px;
  padding: 16px;
  background-color: black;
  margin-top: 200px;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
}

.bloco h2{
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn-intro {
  width: 256px;
  color: #fff;
  background-color: black;
  font-size: 15px;  /* Tamanho da fonte reduzido */
  padding: 8px;  /* Padding ajustado para reduzir o tamanho */
  line-height: 1.2;  /* Ajuste do line-height */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: block;  /* Faz o botão ser um bloco, ocupando uma linha inteira */
  margin-top: 50px;  /* Adiciona um espaçamento entre o texto e o botão */
  margin-left: auto;
  margin-right: auto; /* Centraliza o botão */
  border: 4px solid whitesmoke;  /* Adiciona uma borda ao botão */
  border-radius: 20px;
}

.btn-intro:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}


.bloco2{
  display: flex;
  flex-direction: column;  /* Organiza os itens verticalmente */
  align-items: center;  /* Centraliza os itens horizontalmente */
  width: 100%;  /* Ajusta a largura do bloco conforme necessário (80% da largura da tela) */
  max-width: 100%;  /* Limita a largura máxima do bloco */
  height: auto;  /* A altura se ajusta automaticamente ao conteúdo */
  padding: 16px;
  background-color: black;
  margin-top: 300px;  /* Ajusta o espaço acima do bloco */
  margin-bottom: 50px;  /* Ajusta o espaço abaixo do bloco */
  color: whitesmoke;}

.bloco2 h2{
    text-align: center;
    margin-top: 80px;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 60px;
  }
  
.bloco2 p {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 60px;

  }


.btn-intro-2{
  width: 256px;
  color: #fff;
  background-color: black;
  font-size: 15px;  /* Tamanho da fonte reduzido */
  padding: 8px;  /* Padding ajustado para reduzir o tamanho */
  line-height: 1.2;  /* Ajuste do line-height */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: block;  /* Faz o botão ser um bloco, ocupando uma linha inteira */
  margin-top: 50px;  /* Adiciona um espaçamento entre o texto e o botão */
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto; /* Centraliza o botão */
  border: 4px solid whitesmoke;  /* Adiciona uma borda ao botão */
  border-radius: 20px;
}

.btn-intro-2:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

.espaco2 {
  display: flex; /* Isso coloca a imagem e os textos lado a lado */
  align-items: center; /* Centraliza os itens verticalmente */
  gap: 20px; /* Adiciona um espaçamento entre a imagem e os textos */
}

.kotta-one-regular.container /* Coloquei essa classe aqui para especificar essa parte,
pois essa foi a maneira que eu encontrei para fazer com que os textos se alinhassem corretamente*/
{
  display: flex;
  flex-direction: column; /* Isso coloca o título e o parágrafo um abaixo do outro */
  align-items: center; /* Centraliza o texto */
  justify-content: flex-start; /*garante que os textos comecem no topo do contêiner*/
}

p {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.btn-intro-3{
  width: 256px;
  color: black;
  font-size: 15px; 
  padding: 8px;  
  line-height: 1.2;  
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: block;  
  margin-top: 50px;  
  margin-left: auto;
  margin-right: auto; 
  border: 4px solid black;  
  border-radius: 20px;
}

.btn-intro-3:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content h1 {
  margin: 10px 0;
  font-size: 30px;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}

.contact-button {
  width: 256px;
  color: #fff;
  background-color: black;
  font-size: 15px;  /* Tamanho da fonte reduzido */
  padding: 8px;  /* Padding ajustado para reduzir o tamanho */
  line-height: 1.2;  /* Ajuste do line-height */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: block;  /* Faz o botão ser um bloco, ocupando uma linha inteira */
  margin-top: 50px;  /* Adiciona um espaçamento entre o texto e o botão */
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto; /* Centraliza o botão */
  border: 4px solid whitesmoke;  /* Adiciona uma borda ao botão */
  border-radius: 20px;
}

.contact-button:hover {
  background-color: black;
  color: white;
  text-decoration: underline; /* Adiciona o tracinho embaixo do texto */
  text-decoration-color: whitesmoke;}

.social-icon {
  display: inline-block;
  margin: 10px;
}

.social-icon i {
  font-size: 30px;
  color: white;
  margin: 0 30px;
  transition: color 0.3s ease;
}

.social-icon i:hover {
  color: #ffcc00; /* Cor de destaque ao passar o mouse, você pode mudar */
}

#copyright {
  margin-top: 20px;
  font-size: 14px;
}